@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Roboto+Mono:ital,wght@1,400&display=swap');

body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Kanit', serif;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.nomes {
    font-family: 'Kanit', sans-serif;
    margin: 12px;
}

td {
    margin-top: 50px;
}

.tabela {
    display: flex;
    align-items: center;
    height: 150%;
    margin-top: 120px;
}

input {
    border-radius: 3px;
    width: 200px;
}

select {
    border-radius: 3px;
    width: 210px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    width: 100px;
    margin-top: 400px;
    height: 25px;
}

.submit {
    width: 100px;
    cursor: pointer;
}

.input {
    position: relative;
    
    &__label {
      position: absolute;
      left: 0;
      top: 0;
      padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
      margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
      background: pink;
      white-space: nowrap;
      transform: translate(0, 0);
      transform-origin: 0 0;
      background: var(--color-background);
      transition: transform 120ms ease-in;
      font-weight: bold;
      line-height: 1.2;
    }
    &__field {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border: 3px solid currentColor;
      padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
      color: currentColor;
      background: transparent;
      border-radius: var(--size-radius);
      
      &:focus,
      &:not(:placeholder-shown) {
        & + .input__label {
          transform: translate(.25rem, -65%) scale(.8);
          color: var(--color-accent);
        }
      }
    }
  }